@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
	box-sizing: border-box;
}

html {
	scrollbar-color: #6680FF #0A0A0A;
	background-color: #0A0A0A !important;
	height: 98vh !important;
	width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	margin: 0;
	padding: 0;
}

a,
p {
	line-height: 1.2;
	letter-spacing: -0.5px;
	text-decoration: none;
}

button {
	border: 1px solid #99AAFF;
	background: #0F248A;
	cursor: pointer;
	border-radius: 2.5rem;
	padding: 0.75rem 1.5rem;
	margin: 0.62rem;
	box-shadow: black 0 0 4.8rem;
}

button:hover {
	box-shadow: inset #99aaff42 0 0 1rem;
}

.rubik {
	font-family: 'Rubik', sans-serif !important;
	font-optical-sizing: auto;
}

.scp,
.source-code-pro {
	font-family: 'Source Code Pro', monospace !important;
	font-optical-sizing: auto;
	letter-spacing: -1px;
}

.white-100 {
	color: #fff !important;
}

.white-90 {
	color: #DBE4F0 !important;
}

.blue {
	color: #6680FF !important;
}

.fw-100 {
	font-weight: 100 !important;
}

.fw-200 {
	font-weight: 200 !important;
}

.fw-300 {
	font-weight: 300 !important;
}

.fw-400 {
	font-weight: 400 !important;
}

.fw-500 {
	font-weight: 500 !important;
}

.fw-600 {
	font-weight: 600 !important;
}

.fw-700 {
	font-weight: 700 !important;
}

.fw-800 {
	font-weight: 800 !important;
}

.fw-900 {
	font-weight: 900 !important;
}

.fs-20 {
	font-size: 1.25rem !important;
}

.fs-20 {
	font-size: clamp(1rem, 1rem + 0.5vw, 1.875rem) !important;
}

.fs-24 {
	font-size: clamp(1.2rem, 1.2rem + 0.5vw, 2.25rem) !important;
}

.fs-30 {
	font-size: clamp(1.5rem, 1.5rem + 0.5vw, 2.85rem) !important;
}

.fs-40 {
	font-size: clamp(2rem, 2rem + 0.5vw, 3.75rem) !important;
}

.fs-56 {
	font-size: clamp(2.8rem, 2.8rem + 0.5vw, 5.25rem) !important;
}

.fs-120 {
	font-size: clamp(7rem, 7rem + 0.5vw, 11.25rem) !important;
}

.underline {
	text-decoration: underline;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.align-center {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.align-left {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.align-right {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.align-space-between {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.align-space-around {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.navbar {
	/* this is the outer part, position needs to stay here */
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/* source: https://stackoverflow.com/a/23752288 */
	text-align: center;
	padding-bottom: 1.5px;
	background:
		linear-gradient(to right,
			#0F1B57 40%,
			#0F248A 60%,
			#6680FF 98%,
			#0F1B57 100%) left bottom #00000000 no-repeat;
	background-size: 100% 5px;
}

nav {
	/* part of navbar */
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 0.8rem 1.6rem;
	z-index: 1000;
	background: linear-gradient(to right, #0F1B57 10%, #0A0A0A42 90%) !important;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}

.nav-title {
	/* part of navbar */
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: end;
}

.nav-items {
	/* part of navbar */
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: clamp(80%, 70% + 10vw, 100%);
	margin: 1.2rem auto;
	margin-top: 6rem;
}

.footer-section {
	/* part of footer */
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.lewis {
	/* part of footer */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.icon {
	/* part of footer */
	width: 40%;
	display: inline-block;
	margin: auto;
	width: clamp(1.5rem, 1.5rem + 0.5vw, 2.5rem);
	height: clamp(1.5rem, 1.5rem + 0.5vw, 2.5rem);
	margin-left: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
}

@media (max-width: 50rem) {
	nav {
		display: flex;
		justify-content: space-around;
		flex-direction: column !important;
		padding: 0.8rem 0.5rem;
		background: linear-gradient(to right, #0A0A0A42 0%, #0F1B57 30%, #0F1B57 70%, #0A0A0A42 100%) !important;
	}

	.navbar {
		background:
			linear-gradient(to right,
				#0F1B57 0%,
				#0F248A 20%,
				#6680FF 40%,
				#6680FF 60%,
				#0F248A 80%,
				#0F1B57 100%) left bottom #00000000 no-repeat;
		background-size: 100% 5px !important;
	}

	.content {
		margin: 0.6rem auto;
		margin-top: 7rem;
	}
}